h1,
p {
  font-family: Lato;
}

.button {
  border-radius: 15px;
  text-align: center;
  background-color: blue;
}

.header {
  color: black;
  font-size: 15px;
}

table th,
td {
  border: 1px;
  border-color: black;
}
